<% if (message) { %>

  <p><%= message %></p>

  <a href="/recipes/recommendation">Start Again</a> <br><br>

  <a href="/recipes">Back to Recipes</a>

<% } else if (randomRecipe) { %>  
  <h2><u><%= randomRecipe.title %></u></h2>

  <strong>Cuisine</strong> <br>
  <%= randomRecipe.cuisine %> <br><br>

  <strong>Description</strong> <br>
  <%= randomRecipe.description %> <br><br>

  <strong>Ingredients</strong>
  <ul>
    <% randomRecipe.ingredients.forEach(ing => { %>
    <li><%= ing %></li>
    <% }) %>
  </ul>


  <strong>Instructions</strong> <br>
  <ol>
    <% randomRecipe.instructions.forEach(ins => { %>
    <li><%= ins %></li>
    <% }) %>
  </ol>

  Avg Rating: <%= randomRecipe.avgScore.toFixed(2) %> / 5 

  <br>

  Reviews: <%= randomRecipe.reviewCount %> 

  <br>

  <a href="/reviews?recipeId=<%= randomRecipe._id %>">View Reviews</a>

  <br><br>

  <form action="/favourites/<%= randomRecipe._id %>/add" method="post">
      <button type="submit">Add to Favourites</button>
  </form>

  <% if (favmessage){ %>
    <p><%= favmessage %></p>
  <% } %>
  
  <form action="/recipes/recommendation/next" method="get">
    <button>Get another Recommendation</button>
  </form>

  <a href="/recipes">Back to Recipes</a>
<% } %>